ul {
  list-style: none;
}
a {
  text-underline-offset: 4px;
}
.container {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0;
  background-color: #fff;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  min-height: 293px;
  padding: 0 50px;
}
.header__links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin: 0;
  padding: 0;
  list-style: circle;
  list-style-position: inside;
}
.header__links-list-item {
  line-height: 100%;
}
.header__links-list-item::marker {
  color: #888;
  font-size: 17px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}
.header__logo-image {
  width: 135px;
}
.address {
  max-width: 240px;
  line-height: 24.3px;
  list-style: none;
}
.header__address {
  justify-self: end;
}
.cover {
  position: relative;
  z-index: 1;
  width: 1100px;
  max-height: 757px;
  padding: 160px 0 0;
  background: url(../images/cover.jpg) no-repeat center / cover;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: url(../images/overlay.png) no-repeat center / cover;
}
.cover__content {
  position: relative;
  z-index: 3;
}
.content-section_theme_dark {
  color: #fff;
}
.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}
.accent-span {
  display: block;
  padding: 0 50px;
  letter-spacing: 0.3em;
}
.aligned-text {
  text-align: left;
}
.aligned-text_center {
  margin: 23px 0 20px 25px;
  text-align: center;
}
.aligned-text_right {
  padding-right: 50px;
  text-align: right;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 106px 47px 50px;
}
.cover__description-text {
  font-size: 22px;
  line-height: 1.55rem;
  text-transform: uppercase;
  word-spacing: 0.9em;
}
.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
.lots {
  min-height: 723px;
  margin-top: 180px;
  padding: 0 24px;
}
.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  position: relative;
  z-index: 2;
  max-width: 334px;
  min-height: 596px;
}
.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}
.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}
.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}
.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}
.card {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__title {
  z-index: 2;
  margin: 48px 40px 0;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}
.card__text {
  z-index: 2;
  padding: 0 40px 48px;
  font-size: 20px;
}
.lots__look-more-link {
  display: inline-block;
  padding: 30px 40px 0;
  color: #000;
  font-size: 20px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  min-height: 595px;
  margin-top: 155px;
  padding: 0 24px;
}
.about__column:first-child {
  margin: 0 auto;
  padding: 0;
}
.about__column:last-child {
  max-width: 690px;
  min-height: 449px;
  line-height: 24px;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}
.about__logo-image {
  width: 148px;
}
.about__title {
  margin-bottom: 110px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}
.about__text p {
  margin-bottom: 24px;
  font-size: 20px;
  letter-spacing: 1;
}
.footer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  margin-top: 145px;
  padding: 0 50px;
}
.footer__menu {
  text-align: center;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__social-list {
  display: flex;
  gap: 48px;
}
.footer__social-link img {
  width: 48px;
  height: 48px;
}
